// Colors

$c-black        = hsl(0, 0%, 0%)
$c-grey-dark    = hsl(0, 0%, 29%)
$c-grey         = hsl(0, 0%, 48%)
$c-grey-light   = hsl(0, 0%, 71%)
$c-white        = hsl(0, 0%, 100%)

$c-turquoise    = hsl(171, 100%, 41%)
$c-yellow       = hsl(48,  100%, 67%)

// General colors

$c-background   = $c-white
$c-primary      = $c-turquoise
$c-secondary    = $c-yellow
$c-font         = $c-grey-dark
$c-link         = $c-primary

// Typography

$family-sans-serif = BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$family-monospace  = monospace
$font-primary      = 'Poppins', $family-sans-serif
$font-secondary    = 'Playfair Display', serif

$size-small   = 1.2rem
$size-regular = 1.6rem
$size-medium  = 2.4rem
$size-large   = 4rem

$weight-light    = 300
$weight-regular  = 400
$weight-medium   = 500
$weight-semibold = 600
$weight-bold     = 700

// Grid breakpoints

// The container horizontal gap, which acts as the offset for breakpoints
$gap = 3.2rem
$column-gap = 0.75rem
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet  = 769px
$desktop = 960px + (2 * $gap)
$wide    = 1152px + (2 * $gap)
$fullhd  = 1344px + (2 * $gap)

// Miscellaneous

$easing = ease-out
$speed  = 86ms
$radius = 3px
