// Colors

$c-black        = #251a28
$c-grey-dark    = #302533
$c-grey         = #d3f7de
$c-white        = #ffffff

$c-turquoise    = #a9e5bb

// General colors

$c-background   = $c-white
$c-primary      = $c-turquoise
$c-secondary    = $c-grey-dark
$c-font         = $c-black
$c-link         = $c-primary

// Typography

$family-sans-serif = BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$family-monospace  = monospace
$font-primary      = 'Poppins', $family-sans-serif
$font-secondary    = 'Playfair Display', serif

$size-super-tiny   = 1.2rem
$size-smaller      = 1.4rem
$size-small        = 1.5rem
$size-regular      = 1.6rem
$size-medium       = 2.7rem
$size-large        = 3.6rem
$size-larger       = 6.6rem
$size-super-large  = 7.7rem
$size-super-larger = 11rem

$weight-light    = 300
$weight-regular  = 400
$weight-medium   = 500
$weight-semibold = 700
$weight-bold     = 900

// Grid breakpoints

// The container horizontal gap, which acts as the offset for breakpoints
$gap = 3.2rem
$column-gap = 0.75rem
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet  = 769px
$desktop = 960px + (2 * $gap)
$wide    = 1152px + (2 * $gap)
$fullhd  = 1344px + (2 * $gap)

// Miscellaneous

$easing = ease-out
$speed  = 86ms
$radius = 3px
