//generics
.heading-1
    font-secondary()
    black()
    font-size $size-super-larger

.heading-2
    font-secondary()
    black()
    font-size $size-larger - 1.5rem

    +tablet()
        font-size $size-super-large

.heading-3
    font-secondary()
    black()
    italic()
    font-size $size-larger

.teasing-1
    font-primary()
    light()
    font-size $size-large

.teasing-2
    font-primary()
    regular()
    upper()
    font-size $size-smaller

.text
    font-primary()
    regular()
    font-size $size-smaller
    line-height 1.8

    +tablet()
        font-size $size-regular

.bold
    bold()

.btn
    font-secondary()
    black()
    italic()
    font-size $size-medium
    letter-spacing 5px

//Color alternative
.section--dark
    background $c-black

    .heading-2
        color $c-primary

    .text, .rte p, .teasing-2, .btn, .link
        color $c-white

//Specifics
.logo
    font-secondary()
    black()
    font-size $size-medium

.menu
    font-secondary()
    black()
    italic()
    font-size $size-large
    letter-spacing 5px
    line-height 2

    .is-active
        bold()

.copyright
    font-primary()
    regular()
    font-size $size-super-tiny
