.rte
    &.banner__title
        h1
            light()
            font-size 6vw

            +tablet()
                font-size $size-larger - 1rem

            +desktop()
                ultra-light()

            +wide()
                font-size $size-super-large - 2rem

            strong
                font-secondary()
                black()
                font-size 7vw

                +tablet()
                    font-size $size-larger

                +desktop()
                    font-size $size-super-large

                +wide()
                    font-size $size-super-larger - 2rem


    &.section__teasing p
        @extends .teasing-1
    p
        @extends .text

    p + p
        margin-top 2rem

    a
        @extends .link
