light()
    antialiased()
    font-weight $weight-light

regular()
    antialiased()
    font-weight $weight-regular

medium()
    antialiased()
    font-weight $weight-medium

bold()
    antialiased()
    font-weight $weight-semibold

black()
    antialiased()
    font-weight $weight-bold

italic()
    antialiased()
    font-style italic

antialiased()
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
    font-smoothing antialiased

upper()
    text-transform uppercase

font-primary()
    font-family $font-primary
    letter-spacing 1px

font-secondary()
    font-family $font-secondary
    letter-spacing 0px
