.tpl-styleguide
    .heading-1
        margin-bottom 4rem
    .heading-2
        margin-bottom 0rem
    .btn
        margin 3rem 0 1rem
    .color
        &-title
            upper()

        &-tile
            height 12rem
            margin 2rem 0
            border-radius 5px

    .section
        margin-bottom 8rem

        &--typography
            margin-bottom 5rem

            .heading-1,
            .heading-2,
            .heading-3,
            .heading-4
                margin-bottom 0.5rem
            .teasing-1
                margin-bottom 3rem
