extends mixins/_layout

block vars
    - var bodyClasses = 'tpl-homepage frontpage'

block extraScripts

block extraMarkup

block content
    section.banner.u-b-pattern
        div.container.banner__inner
            div.banner__title.rte
                h1 #[strong Développeuse] web #[br] #[strong Illustratrice] onirique #[br] #[strong Exploratrice] imaginaire

    section.section.project.section--dark
        div.container.project__inner
            h2.project__title.heading-2 Luditales
            p.project__subtitle.teasing-2 Identité graphique & développement
            article.project__content.rte
                p Cat ipsum dolor sit amet, hack up furballs, sit on human and chase dog then run away, or run in circles. Lick arm hair chirp at birds. Scratch the postman wake up lick paw wake up owner meow meow spot something, big eyes, big eyes, crouch, shake butt, prepare to pounce and hide from vacuum cleaner intrigued by the shower.
                p #[strong Inspect anything brought] into the house find empty spot in cupboard and #[a(href="#") sleep all day] so sit on the laptop, intently sniff hand thinking longingly about tuna brine spend all night ensuring people don't sleep sleep all day.
            button.btn Voir le projet

    section.section.project
        div.container.project__inner
            h2.project__title.heading-2 Luditales
            p.project__subtitle.teasing-2 Identité graphique & développement
            article.project__content.rte
                p Cat ipsum dolor sit amet, hack up furballs, sit on human and chase dog then run away, or run in circles. Lick arm hair chirp at birds. Scratch the postman wake up lick paw wake up owner meow meow spot something, big eyes, big eyes, crouch, shake butt, prepare to pounce and hide from vacuum cleaner intrigued by the shower.
                p #[strong Inspect anything brought] into the house find empty spot in cupboard and #[a(href="#") sleep all day] so sit on the laptop, intently sniff hand thinking longingly about tuna brine spend all night ensuring people don't sleep sleep all day.
            button.btn Voir le projet

    section.section.u-b-grey
        div.container
            h2.section__title.heading-1 A propos
            p.section__teasing.teasing-1.rte Cat ipsum dolor sit amet, #[a(href="#") howl uncontrollably] for no reason. Roll on the floor purring your whiskers off toy mouse squeak roll over yet climb leg
            article.project__content.rte
                p Cat ipsum dolor sit amet, hack up furballs, sit on human and chase dog then run away, or run in circles. Lick arm hair chirp at birds. Scratch the postman wake up lick paw wake up owner meow meow spot something, big eyes, big eyes, crouch, shake butt, prepare to pounce and hide from vacuum cleaner intrigued by the shower.
                p #[strong Inspect anything brought] into the house find empty spot in cupboard and #[a(href="#") sleep all day] so sit on the laptop, intently sniff hand thinking longingly about tuna brine spend all night ensuring people don't sleep sleep all day.
            button.btn Voir mon CV
