.nav
    width 100%

    &__toggler
        position fixed
        z-index 10
        top $gap
        right $gap
        width 4rem
        height 4rem
        text-indent 9999px
        background url(../images/menu.png) no-repeat center center
        background-size contain

        &:hover
            cursor pointer

        +tablet()
            top (2 * $gap)
            right (2 * $gap)

        +desktop()
            display none

    &__inner
        position fixed
        z-index 11
        top -100vh
        left 0
        width 100vw
        height 100vh
        display flex
        align-items center
        background-size 200%
        transition top $speed $easing

        .nav__toggler
            position absolute
            height 5rem
            width 2rem
            background url(../images/close.png) no-repeat center center
            background-size contain

        .menu
            padding 0 $gap

            +tablet()
                padding 0 (2*$gap)


        +desktop()
            position relative
            top auto
            left auto
            width auto
            height auto
            background transparent

            .menu
                display flex
                justify-content space-between
                position fixed
                top $gap
                right 0
                width 50rem

    &-open
        .nav__inner
            top 0
            transition top $speed $easing
