.u-c-background
    color $c-background

.u-c-primary
    color $c-primary

.u-c-secondary
    color $c-secondary

.u-c-white
    antialiased()
    color $c-white

.u-c-black
    color $c-black

.u-c-grey
    color $c-grey

.u-b-primary
    background $c-primary

.u-b-secondary
    background $c-secondary

.u-b-grey
    background $c-grey

.u-b-black
    background $c-black

.u-b-white
    background $c-white

.u-b-pattern
    background url(../images/pattern.jpg)
