.is-visible-t,
.is-visible-mt,
.is-visible-m
	display none

.is-hidden
  display none !important

+mobile()
	.is-hidden-m
		display none !important

	.is-visible-m
		display inherit

+tablet()
	.is-hidden-t
		display none !important

	.is-visible-t
		display inherit

+tablet-only()
	.is-hidden-t-o
		display none !important

	.is-visible-t-o
		display inherit

+touch()
	.is-hidden-touch
		display none !important

	.is-visible-touch
		display inherit

+desktop()
	.is-hidden-d
		display none !impordant

	.is-visible-d
		display inherit

+desktop-only()
	.is-hidden-d-o
		display none !important

	.is-visible-d-o
		display inherit

+wide()
	.is-hidden-w
		display none !important

	.is-visible-w
		display inherit

+wide-only()
	.is-hidden-w-o
		display none !important

	.is-visible-w-o
		display inherit

+fullhd()
	.is-hidden-f
		display none !important

	.is-visible-f
		display inherit
