.container
    width 100%
    margin 0 auto
    padding 0 $gap
    position relative

    +tablet()
        padding 0 (2 * $gap)

    +wide()
        padding 0 (4 * $gap)

    +fullhd()
        max-width $fullhd - (2 * $gap)

        padding inherit
        width $fullhd - (2 * $gap)
