.btn
    position relative
    top 0rem
    left 0rem
    display inline-block
    background $c-background
    border $c-black solid 2px
    color $c-black
    transition all 150ms ease-in

    &::before
        content ''
        position absolute
        z-index -1
        top 1rem
        left -1rem
        display block
        height 100%
        width 100%
        background  url(/assets/images/pattern-btn.png) center center
        background-size 30rem
        transition all 150ms ease-in

    &:hover
        top 0.5rem
        left -0.5rem
        &::before
            top 0.5rem
            left -0.5rem

    &--blue
        border-color $c-turquoise

        &::before
            background  url(/assets/images/pattern-blue.png) center center
            background-size 20rem

    &--yellow
        border-color $c-yellow-light

        &::before
            background  url(/assets/images/pattern-yellow.png) center center
            background-size 20rem
