.eyes
    position absolute
    bottom 50%
    left 50%
    padding 1rem

    &:before
        content ''
        display block
        width 12.2rem
        height 2.5rem
        background url(/assets/images/sprite-eye.png) no-repeat
        background-size cover
        background-position 0% 50%
        transition background-position 80ms steps(4,end) 500ms

    &:hover
        &:before
            background-position 100% 50%
            transition background-position 80ms steps(4,end)

&.eyes--closed
    pointer-events none

    &:before
        background-position 100% 50%
        transition background-position 80ms steps(4,end)
