.u-c-background
    color $c-background

.u-c-primary
    color $c-primary

.u-c-white
    antialiased()
    color $c-white

.u-c-black
    color $c-black

.u-c-grey
    color $c-grey

.u-c-border
    color $c-border

.u-b-u-light-orange
    background $c-ultra-light-orange

.u-b-u-light-blue
    background $c-ultra-light-blue

.u-b-primary
    background $c-primary

.u-b-yellow
    background $c-yellow-light

.u-b-blue
    background $c-turquoise

.u-b-grey-light
    background $c-grey-light

.u-b-white
    background $c-white

.u-b-grey
    background $c-grey

.u-b-black
    background $c-black
