// Teasings, headings
.heading-1
    font-secondary()
    black()
    font-size $size-larger
    color $c-black

.heading-2
    font-secondary()
    black()
    font-size $size-large
    color $c-black

.heading-3
    font-primary()
    medium()
    upper()
    font-size $size-medium
    letter-spacing 1px
    color $c-black

.heading-4
    font-primary()
    medium()
    upper()
    font-size $size-regular
    letter-spacing 1px
    color $c-grey

.teasing-1
    font-primary()
    regular()
    italic()
    font-size $size-small
    letter-spacing 1px
    color $c-grey

.teasing-2
    font-primary()
    bold()
    font-size $size-regular
    letter-spacing 1px

.text
    font-primary()
    regular()
    font-size $size-regular
    letter-spacing 1px
    line-height 2.8rem

// Lists
.list
    .list__item
        font-primary()
        regular()
        font-size $size-regular
        letter-spacing 1px
