// Teasings, headings
.heading-1
    font-secondary()
    black()
    font-size $size-larger
    color $c-black

.heading-2
    font-secondary()
    black()
    font-size $size-large
    color $c-black

.heading-3
    font-primary()
    medium()
    upper()
    font-size $size-medium
    letter-spacing 1px
    color $c-black

.heading-4
    font-primary()
    medium()
    upper()
    font-size $size-regular
    letter-spacing 1px
    color $c-turquoise

.teasing-1
    font-primary()
    regular()
    italic()
    font-size $size-small
    letter-spacing 1px
    color $c-grey

.teasing-2
    font-primary()
    bold()
    font-size $size-regular
    letter-spacing 1px

.text
    font-primary()
    regular()
    font-size $size-regular
    letter-spacing 1px
    line-height 2.5rem

p.text
    margin-bottom 2rem

.bold,
.link
    medium()
    position relative
    color $c-black

.link
    display inline
    padding 0 0.8rem
    background repeating-linear-gradient(
        180deg,
        transparent,
        transparent 1.45rem,
        $c-yellow-light 1.45rem,
        $c-yellow-light 2.45rem
    )
    transition all 200ms ease

    &:hover
        background repeating-linear-gradient(
            180deg,
            transparent,
            transparent 0rem,
            $c-yellow-light 0rem,
            $c-yellow-light 100%
        )

    &--blue
        background repeating-linear-gradient(
            180deg,
            transparent,
            transparent 1.45rem,
            $c-turquoise 1.45rem,
            $c-turquoise 2.45rem
        )
        transition all 200ms ease

        &:hover
            background repeating-linear-gradient(
                180deg,
                transparent,
                transparent 0rem,
                $c-turquoise 0rem,
                $c-turquoise 100%
            )


// Lists
.list
    .list__item
        font-primary()
        regular()
        font-size $size-regular
        letter-spacing 1px

//Buttons
.btn
    upper()
    bold()
    padding 1.5rem 3rem
    font-size $size-small
    letter-spacing 2px
