// Teasings, headings
.heading-1
    font-secondary()
    black()
    font-size $size-large
    color $c-black

.heading-2
    font-secondary()
    black()
    font-size $size-medium
    color $c-black

.heading-3
    font-primary()
    bold()
    uppercase()
    font-size $size-regular
    letter-spacing 1px
    color $c-black

.teasing-2
    font-primary()
    bold()
    font-size $size-regular
    letter-spacing 1px

.text
    font-primary()
    regular()
    font-size $size-regular
    letter-spacing 1px

// Lists
.list
    .list__item
        font-primary()
        regular()
        font-size $size-regular
        letter-spacing 1px
