.link
    bold()
    display inline
    padding 0 0.5rem
    background repeating-linear-gradient(
        180deg,
        transparent,
        transparent 60%,
        $c-primary 60%,
        $c-primary 100%
    )

    &:hover
        background repeating-linear-gradient(
            180deg,
            transparent,
            transparent 0%,
            $c-primary 0%,
            $c-primary 100%
        )
