.link
    bold()
    display inline
    padding 0.3rem 0.5rem
    background repeating-linear-gradient(
        180deg,
        transparent -1%,
        transparent 60%,
        $c-primary 60%,
        $c-primary 100%
    )

    &:hover
        background repeating-linear-gradient(
            180deg,
            transparent -1%,
            transparent 0%,
            $c-primary 0%,
            $c-primary 100%
        )

.section--dark
    .link, .menu a, .rte a
        regular()
        display inline
        padding 0.3rem 0.5rem
        background repeating-linear-gradient(
            180deg,
            transparent -1%,
            transparent 60%,
            $c-secondary 60%,
            $c-secondary 100%
        )

        &:hover
            background repeating-linear-gradient(
                180deg,
                transparent,
                transparent 0%,
                $c-secondary 0%,
                $c-secondary 100%
            )
