footer.footer.u-b-black.section.section--dark#footer
    div.container.footer__inner
        h2.section__title.heading-1 Contact
        div.row
            div.column.is-one-third-desktop
                p.section__teasing.teasing-1 Intéréssé.e ? N’hésitez pas à m’envoyer un petit mot ou retrouvez moi sur les réseaux sociaux.
        nav.footer__nav
            ul.menu
                li #[a(href="#") Mail]
                li #[a(href="#") Linkedin]
                li #[a(href="#") Github]
                li #[a(href="#") Tumblr]
            p.footer__bottom.u-c-grey-dark.copyright ©2017 Laurianne Terrier, All Rights Reserved | #[a(href="#") Mentions légales]
