header.header
    h1.header__logo Laurianne Terrier
    div.header__nav.nav.js-nav
        button.nav__toggler.js-nav-open Menu
        nav.nav__inner.u-b-pattern
            div.nav__header
                button.nav__toggler.js-nav-close Menu
            ul.menu
                li.is-active #[a Accueil]
                li #[a Projets]
                li #[a A propos]
                li #[a Contact]
