header.header
    h1.header__logo Laurianne Terrier
    div.header__nav.nav.nav-open.js-nav
        button.nav__toggler.js-nav-toggler Menu
        nav.nav__inner.u-b-pattern
            div.nav__header
                p.header__logo Laurianne Terrier
                button.nav__toggler.js-nav-toggler Menu

            ul.menu
                li #[a Accueil]
                li #[a Projets]
                li #[a A propos]
                li #[a Contact]
