header.header
    h1.header__logo.u-c-secondary
        a(href="#") Laurianne Terrier
    div.header__nav.nav.js-nav
        button.nav__toggler.js-nav-open Menu
        nav.nav__inner.u-b-pattern
            div.nav__header
                button.nav__toggler.js-nav-close Menu
            ul.menu
                li.is-active #[a.gotos(href="#accueil") Accueil]
                li #[a.gotos(href="#projets") Projets]
                li #[a.gotos(href="#a-propos") A propos]
                li #[a.gotos(href="#contact") Contact]
