//generics
.heading-1
    font-secondary()
    black()
    font-size $size-larger - 0.5rem

    +tablet()
        font-size $size-super-larger

.heading-2
    font-secondary()
    black()
    font-size $size-larger - 1.5rem

    +tablet()
        font-size $size-super-large

.heading-3
    font-secondary()
    black()
    italic()
    font-size $size-larger

.teasing-1
    font-primary()
    light()
    font-size $size-medium

    +tablet()
        font-size $size-large

.teasing-2
    font-primary()
    regular()
    upper()
    font-size $size-smaller

.text
    font-primary()
    regular()
    font-size $size-smaller
    line-height 1.8

    +tablet()
        font-size $size-regular

.bold
    bold()

.btn, .footer .menu a
    font-secondary()
    black()
    italic()
    font-size $size-medium
    letter-spacing 5px

//Color alternative
.section--dark
    background $c-black

    .heading-2, .heading-1
        color $c-primary

    .text, .rte p, .teasing-1, .teasing-2, .btn, .link, .menu a
        color $c-white

    .text, .rte p, .teasing-1, .teasing-2
        ultra-light()

//Specifics
.logo
    font-secondary()
    black()
    font-size $size-medium

.header__nav .menu, .footer__nav .menu
    font-secondary()
    black()
    italic()
    font-size $size-large
    letter-spacing 5px
    line-height 2

    +tablet()
        font-size $size-larger

.header__nav .menu
    .is-active
        bold()

    +desktop()
        font-primary()
        regular()
        upper()
        font-size $size-smaller
        font-style normal
        letter-spacing 1px
        color $c-secondary

.footer__nav .menu
    +desktop()
        line-height 1

.copyright
    font-primary()
    light()
    max-width 27rem
    margin auto
    font-size $size-super-tiny
    text-align center

    +tablet()
        max-width 100%

    +desktop()
        text-align right
