extends mixins/_layout

block vars
    - var bodyClasses = 'tpl-homepage frontpage'

block extraScripts

block extraMarkup

block content
    section.section.section--preface
        div.container.section__inner
            div.section__header
                h1.section__title.heading-1.u-t-center Laurianne Terrier
                div.section__bg--mobile
                div.section__bg
                    div.eyes
                        div.eyes__inner
                    div.section__fg
            div.section__footer
                h2.section__teasing.heading-4.u-t-center Développeuse web - Exploratrice imaginaire - Illustratrice d'heures perdues - Collectionneuse de chaussettes à motifs
