extends mixins/_layout

block vars
    - var bodyClasses = 'tpl-homepage frontpage'

block extraScripts

block extraMarkup

block content
    section.section.section--preface.js-header
        div.container.section__inner
            div.section__header
                h1.section__title.heading-1.u-t-center Laurianne Terrier
                div.section__bg--mobile
                div.section__bg
                    div.eyes(style='bottom: 45%; left: 53%;')
                    div.eyes.eyes--closed(style='bottom: 56%; left: 20%;')
                    div.eyes.eyes--closed(style='bottom: 56%; left: 63%;')
                    div.eyes.eyes--closed(style='bottom: 52%; left: 20%;')
                    div.eyes.eyes--closed(style='bottom: 67%; left: 41%;')
                    div.eyes.eyes--closed(style='bottom: 50%; left: 36%;')
                    div.eyes.eyes--closed(style='bottom: 57%; left: 75%;')
                    div.eyes.eyes--closed(style='bottom: 56%; left: 47%;')
                    div.eyes.eyes--closed(style='bottom: 56%; left: 31%;')
                    div.eyes.eyes--closed(style='bottom: 66%; left: 31%;')
                    div.eyes.eyes--closed(style='bottom: 64%; left: 58%;')
                    div.section__fg
            div.section__footer
                h2.section__teasing.heading-4.u-t-center Développeuse web - Exploratrice imaginaire - Illustratrice d'heures perdues - Collectionneuse de chaussettes à motifs
