extends mixins/_layout

block vars
    - var bodyClasses = 'tpl-homepage'

block extraScripts

block extraMarkup

block content
    div.container
        h1.u-t-center.heading-1 Laurianne #[br] Terrier
