.u-c-background
    color $c-background !important 

.u-c-primary
    color $c-primary !important

.u-c-secondary
    color $c-secondary !important

.u-c-white
    antialiased()
    color $c-white !important

.u-c-black
    color $c-black !important

.u-c-grey
    color $c-grey !important

.u-c-grey-dark
    color $c-grey-dark !important

.u-b-primary
    background $c-primary !important

.u-b-secondary
    background $c-secondary !important

.u-b-grey
    background $c-grey !important

.u-b-black
    background $c-black !important

.u-b-white
    background $c-white !important

.u-b-pattern
    background url(../images/pattern.jpg)
