.u-t-center
	text-align center

.u-t-right
	text-align right

.u-t-justify
	text-align justify

.u-t-capitalized
	text-transform capitalize !important

.u-t-lowercase
	text-transform lowercase !important

.u-t-uppercase
	text-transform uppercase !important

.u-t-bold
	bold()

.u-t-italic
	italic()
