header.header
    div.container
        div.header__block
            h1.header__title.u-t-center.heading-1 Laurianne #[br] Terrier
    //- div.container
    //-     div.header__block
    //-     h1.header__title.u-t-center.heading-1 Laurianne #[br] Terrier
    //-     p.header__teasing.u-t-center.heading-3 Développeuse web // Exploratrice imaginaire // Codeuse à tout faire
