.header
    position absolute
    padding $gap

    +tablet()
        padding (2 * $gap)

    &__logo
        font-secondary()
        black()
        width 10rem
        font-size $size-medium
        line-height 1.1

        +desktop()
            position absolute
            top $gap
            left $gap

        +wide()
            position fixed
