.rte
    &.banner__title
        h1
            light()
            font-size 6vw

            strong
                font-secondary()
                black()
                font-size 7vw

    p
        @extends .text

    p + p
        margin-top 2rem

    a
        @extends .link
