.section
    padding 4.5rem 0 6rem
    background $c-white

    &--dark
        background $c-black

    &__title
        margin-bottom 2rem

        +desktop()
            margin-bottom 5rem

    &__subtitle, &__teasing
        margin-bottom 3rem

    &__content
        margin-bottom 4rem

    &__right
        +tablet()
            padding-left $gap

        +desktop()
            padding-left (2 * $gap)

    +tablet()
        padding (2 * $gap)  0 (2 * $gap + 2rem)
