.section
    min-height 100vh
    padding $gap 0

    +tablet()
        padding 4rem 0 12rem

    +wide()
        padding 8rem 0 12rem

    @media (min-height: 1023px)
        min-height auto


    &__title
        position relative
        z-index 4
        background $c-background
        font-size 14vw
        line-height 0.83

        +tablet()
            line-height 0.8
            font-size 9.5vw

    &__teasing
        height 2rem
        overflow hidden
        width: 80%;
        margin: auto
        margin-top 1rem
        line-height 2rem
        white-space nowrap

        +tablet()
            width auto

    &__bg
        display none
        margin-top -0.8rem
        background url(/assets/images/pattern.png)
        background-size 80%

        &--mobile
            position: relative;
            left: -7.5%;
            width: 114%;
            padding-top: 82%;
            margin-top: 0;
            background: url(/assets/images/logo-hd.png) no-repeat;
            background-size: cover;
            background-position: 0% 0%;
            transition background-position 80ms steps(7, end)

            &:hover
                background-position: 100.02% 0%;

            +tablet()
                display none

        +tablet()
            display block
            padding-top calc(100vh - 16rem - 9.5vw)

        +wide()
            padding-top calc(100vh - 20rem - 9.5vw)

        @media (min-height: 1023px)
            padding-top 40%

    &__fg
        position absolute
        bottom: 3rem;
        left: calc(-2.5% + 3.2rem);
        height: 105%;
        width: calc(105% - 6.4rem);
        background url(/assets/images/header-fg.png) no-repeat bottom center
        background-size contain
        pointer-events none

        +desktop()
            left: calc(-2.5% + 6.4rem);
            width: calc(105% - 12.8rem);
